/* MAIN */

.catalog-main {

}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0 40px 0;
  list-style: none;
  column-gap: 14px;
}

.breadcrumb li+li::before {
  content: '>';
  padding-inline-end: 14px;
  color: #BDB9B5;
}

.breadcrumb-item {
  font-family: var(--text);
  font-size: 14px;
  color: #444240;
}

.breadcrumb-item a {
  font-family: var(--text);
  font-size: 14px;
  color: #BDB9B5;
  text-decoration: none;
  transition-duration: 0.3s;
  cursor: pointer;
}

.breadcrumb-item a:hover {
  color: #444240;
  transition-duration: 0.3s;
}

.catalog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 40px;
}

.catalog-title {
  margin: 0;
  font-family: var(--title);
  font-size: 32px;
  font-weight: 400;
  color: var(--color-title);
}

.productSorting {
  font-family: var(--text);
  font-size: 14px;
  font-weight: 400;
  color: #BDB9B5;
}

.catalog-product {
  display: flex;
  column-gap: 93px;
  margin-block-end: 48px;
}

.catalog-form-product {
  min-width: 230px;
}

/* START двухдиапазонный ценовой слайдер */

.catalog-form-product .summary {
  margin-block-start: 20px;
  margin-block-end: 20px;

  font-family: var(--text);
  font-size: 14px;
  font-weight: 500;
  color: #444240;
}

.catalog-form-product label {
  font-family: var(--text);
  font-size: 12px;
  font-weight: 400;
  color: #6F6E6D;
}

.catalog-form-product input {
  accent-color: #6F6E6D;
}

.range-slider {
  height: 2px;
  position: relative;
  background-color: #e1e9f6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 12%;
  right: 10%;
  position: absolute;
  border-radius: 5px;
  background-color: #000000;
}

/* - стиль для элементов ввода диапазона */

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

/* — несколько базовых стилей для полей ввода min и max: */

.range-price {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 55px;
  padding: 5px;
}
.range-price input:first-of-type {
  margin-right: 15px;
}

/* END двухдиапазонный ценовой слайдер */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  max-width: 252px;
  max-height: 301px;
  position: relative;
  background-color: #FDFDFB;
}

.catalog-item-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.catalog-item-title {
  margin: 0;
  font-family: var(--text);
  font-size: 14px;
  font-weight: bold;
  color: #444240;
  text-transform: uppercase;

  position: absolute;
  top: 20px;
  left: 20px;
}

.catalog-item-price {
  margin: 0;
  font-family: var(--text);
  font-size: 14px;
  font-weight: 400;
  color: #636261;

  position: absolute;
  top: 40px;
  left: 20px;
}

.catalog-item-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pagination {
  display: flex;
  justify-content: end;
  column-gap: 8px;

  margin: 0 0 57px 0;
  padding: 0;
  list-style: none;

}

.pagination-link {
  text-decoration: none;

  font-family: var(--text);
  font-size: 14px;
  font-weight: 400;
  color: #B6B6B6;
}

.pagination-link-current {
  color: black;
}

.pagination-item:first-of-type a,
.pagination-item:last-of-type a {
  color: #1B1A17;
}

.accessories {
  margin-block-end: 80px;
}

.accessories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 51px;
}

.accessories-title {
  font-family: var(--title);
  font-size: 32px;
  font-weight: 400;
  color: #1B1A17;
  margin: 0;
}

.show-more {
  font-family: var(--text);
  font-size: 16px;
  font-weight: 500;
  color: #444240;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #C4C0B6;
  text-underline-offset: 10px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

.accessories .catalog-item {
  max-width: 360px;
  max-height: 374px;
}

.accessories .catalog-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}