.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 85px;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 279px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 67px;
  list-style: none;
  padding: 0;
}

.site-navigation-item a {
  font-family: var(--text);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-nav);
}

.link-item {
  text-decoration: none;
  cursor: pointer;
  transition: color .3s;
}
             
.link-item:hover {
  color: var(--color-button-gold);
  transition: color .3s;
}

.user-navigation {
  display: flex;
  gap: 24px;
  padding: 0;
  padding-block-start: 11px;

  list-style: none;
}

.counter-like {
  position: relative;
}

.counter-cart {
  position: relative;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -8px;
  left: 13px;

  font-size: 12px;
  font-weight: 400;
  width: 18px;
  height: 18px;
  background-color: var(--color-button-gold);
  border-radius: 15px;
}
